<html>
  <head>
    <title><%= book_title %></title>
  </head>
  <body>
    <a name="TOC"><h1> Table of Contents </h1></a>

    <p width="-30" class="left"><a href="#chapter1">Chapter One</a></p>
    <p width="-30" class="left"><a href="#chapter2">Chapter Two</a></p>


    <mbp:pagebreak />


    <mbp:pagebreak />
    <a name="chapter1"><h1>Chapter 1</h1></a>
    <p> Lorem ipsum</p>
    <mbp:pagebreak />
    <a name="chapter2"><h1>Chapter 2</h1></a>

  </body>
</html>
