<?xml version="1.0" encoding="utf-8"?>

<package unique-identifier="uid">

  <metadata>

    <dc-metadata xmlns:dc="http://purl.org/metadata/dublin_core" xmlns:oebpackage="http://openebook.org/namespaces/oeb-package/1.0/">

    <dc:Title><%= title %></dc:Title>

    <dc:Language><%= language %></dc:Language>

    <dc:Identifier id="uid"><%= identifier %></dc:Identifier>

    <dc:creator><%= author %></dc:Creator>

      <dc:Publisher><%= publisher %></dc:Publisher>

      <dc:Subject BASICCode="FIC031000"><%= subject %></dc:Subject>

      <dc:Description><%= description %></dc:Description>

      <dc:Date><%= date %></dc:Date>

    </dc-metadata>

    <x-metadata>

      <output encoding="utf-8" content-type="text/x-oeb1-document"></output>

      <EmbeddedCover><%= cover %></EmbeddedCover>

      <SRP Currency="<%= currency %>"><%= price %></SRP>

      <Demo>TBD.prc</Demo>

    </x-metadata>

  </metadata>

  <manifest>

    <item id="item1" media-type="text/x-oeb1-document" href="book.html"></item>

    <item id="toc" media-type="application/x-dtbncx+xml" href="toc.ncx"></item>

  </manifest>

  <spine toc="toc">

    <itemref idref="item1"/>

  </spine>

  <tours></tours>

  <guide>

    <reference type="toc" title="Table of Contents" href="book.html%23TOC"></reference>

    <reference type="start" title="Startup Page" href="book.html%23chapter1"></reference>

  </guide>

</package>
