<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE ncx PUBLIC “-//NISO//DTD ncx 2005-1//EN" “http://www.daisy.org/z3986/2005/ncx-2005-1.dtd">

<ncx xmlns="http://www.daisy.org/z3986/2005/ncx/" version="2005-1">

  <docTitle>

  <text> <%= title %></text>

  </docTitle>

  <navMap>

    <navPoint playOrder="1">

      <navLabel>

        <text>Chapter One</text>

      </navLabel>

      <content src="book.html#chapter1"/>

    </navPoint>

    <navPoint playOrder="2">

      <navLabel>

        <text>Chapter Two</text>

      </navLabel>

      <content src="book.html#chapter2"/>

    </navPoint>


  </navMap>

</ncx>
